fastapi==0.116.1
httpx==0.28.1
uvicorn==0.35.0
winrt-Windows.Media.Control==3.2.1
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Media==3.2.1
winrt-Windows.Storage.Streams==3.2.1
google-api-python-client==2.198.0
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
pytest==9.1.1
